body {
    background-image: url("https://kamikai.github.io/deco1100-website/media/img/textured_paper.png");
}

p {
    margin-top: 2em;
}

.jumbotron {
    box-shadow: inset 0 0 .5em #888;
}

.info-row {
    border-radius: .5em;
    padding: 2em;
    background-color: white;
    box-shadow: inset 0 0 .5em #888;
}

.info-row:not(:first-child){
    margin-top: 7.5em;
}

    .info-row h2 {
        margin-bottom: 1em;
    }

.footer{
    margin-top: 15em;
    margin-bottom: 5em;

    text-align: center;
    color: #888;
}

.team-profiles img {
    /*margin: auto;*/
    /*max-width: 10em;*/
}

.social-buttons {
    margin-bottom: 1.5em;
}

#s2w-follow a {
    color: #373a3c;
    transition: 1s;
}

#s2w-follow a:hover {
    color: #09D;
    transition: 5s;
}

#team-imgs {
    margin-top: 1.5em;
}


#team-imgs img {
    margin-top: 2em;
}

html {
  font-size: 14px;
}

/*@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}*/